POSTGRES_USER=postgres
POSTGRES_PORT=5432
POSTGRES_DB=mydb
POSTGRES_APP_USER=appuser
JWT_SECRET=your_very_long_secret_string

# Change here
POSTGRES_PASSWORD=1234
POSTGRES_APP_PASSWORD=5678
PROJECT_NAME=g10 # Need to be unique
FRONTEND_PORT=6010 # Need to be unique
BACKEND_IMAGE_NAME=jjjaoant/preflight-backend:latest
FRONTEND_IMAGE_NAME=jjjaoant/preflight-frontend:latest

# Notice that these are no longer used.
# BACKEND_PORT=3000 # We will not expose backend port.
# POSTGRES_HOST=pf-db # This will be dynamically set.
# NGINX_PROXY=http://pf-backend:3000 # This will be dynamically set.
